openapi: 3.1.0
info:
  title: Render Public API
  description: |-
    [https://render.com/docs/api](https://render.com/docs/api)

    Contact Support:  
    Name: Render API  
    Email: [support@render.com](mailto:support@render.com)
  version: 1.0.0
servers:
  - url: https://api.render.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    owner:
      title: "Owner"
      description: "The owner object represents an authorized user or team. The `type` property indicates if the owner is a user or team."
      type: object
      properties:
        id:
          description: The owner ID.
          readOnly: true
          type: string
        name:
          description: The name of the owner.
          type: string
        email:
          description: The email of the owner.
          type: string
        type:
          description: The type of the authorized user.
          type: string
          enum: ["user", "team"]
    listOwnersResponse:
      type: object
      properties:
        cursor:
          type: string
        owner:
          type: object
          $ref: "#/components/schemas/owner"
    listOwners:
      type: array
      items:
        $ref: "#/components/schemas/listOwnersResponse"
    serviceHeader:
      description: "A service header object"
      type: object
      properties:
        path:
          type: string
        name:
          type: string
        value:
          type: string
      required: ["path", "name", "value"]
    listServiceHeadersResponse:
      type: object
      properties:
        cursor:
          type: string
        header:
          type: object
          $ref: "#/components/schemas/serviceHeader"
    listServiceHeaders:
      type: array
      items:
        $ref: "#/components/schemas/listServiceHeadersResponse"
    staticSiteRoute:
      description: "A route object for a static site"
      type: object
      properties:
        type:
          type: string
          enum: ["redirect", "rewrite"]
        source:
          type: string
        destination:
          type: string
      required: ["type", "source", "destination"]
    listStaticSiteRoutesResponse:
      type: object
      properties:
        cursor:
          type: string
        route:
          type: object
          $ref: "#/components/schemas/staticSiteRoute"
    listStaticSiteRoutes:
      type: array
      items:
        $ref: "#/components/schemas/listStaticSiteRoutesResponse"
    staticSiteServiceDetails:
      title: "StaticSite"
      type: object
      properties:
        buildCommand:
          type: string
        headers:
          type: array
          items:
            $ref: "#/components/schemas/serviceHeader"
        parentServer:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              readOnly: true
            name:
              type: string
              readOnly: true
        publishPath:
          type: string
          default: "public"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
        routes:
          type: array
          items:
            $ref: "#/components/schemas/staticSiteRoute"
        url:
          type: string
          description: The HTTPS service URL. A subdomain of onrender.com, by default.
          readOnly: true
    staticSite:
      title: "StaticSite"
      description: "A static website service"
      allOf:
        - $ref: "#/components/schemas/service"
        - type: object
          properties:
            type:
              type: string
              default: "static_site"
            serviceDetails:
              $ref: "#/components/schemas/staticSiteServiceDetails"
    patchStaticSite:
      title: "StaticSite"
      description: "The PATCH object to update a static website service"
      type: object
      properties:
        autoDeploy:
          type: string
          default: "no"
          enum: ["yes", "no"]
        branch:
          type: string
        buildCommand:
          type: string
        name:
          type: string
        publishPath:
          type: string
          default: "public"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
    patchWebService:
      title: "WebService"
      description: "The PATCH object to update a web service"
      type: object
      properties:
        autoDeploy:
          type: string
          default: "no"
          enum: ["yes", "no"]
        branch:
          type: string
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        healthCheckPath:
          type: string
        name:
          type: string
        numInstances:
          type: number
          default: 1
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
    patchPrivateService:
      title: "PrivateService"
      description: "The PATCH object to update a private service"
      type: object
      properties:
        autoDeploy:
          type: string
          default: "no"
          enum: ["yes", "no"]
        branch:
          type: string
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        name:
          type: string
        numInstances:
          type: number
          default: 1
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
    patchBackgroundWorker:
      title: "BackgroundWorker"
      description: "The PATCH object to update a background worker"
      type: object
      properties:
        autoDeploy:
          type: string
          default: "no"
          enum: ["yes", "no"]
        branch:
          type: string
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        name:
          type: string
        numInstances:
          type: number
          default: 1
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
    patchCronJob:
      title: "CronJob"
      description: "The PATCH object to update a cron job"
      type: object
      properties:
        autoDeploy:
          type: string
          default: "no"
          enum: ["yes", "no"]
        branch:
          type: string
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        name:
          type: string
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        schedule:
          type: string
    secretFile:
      type: object
      properties:
        name:
          type: string
        contents:
          type: string
      required:
        - "name"
        - "contents"
    disk:
      type: object
      properties:
        name:
          type: string
        mountPath:
          type: string
        sizeGB:
          type: number
          default: 1
      required:
        - "name"
        - "mountPath"
    dockerDetails:
      type: object
      properties:
        dockerCommand:
          type: string
        dockerContext:
          type: string
        dockerfilePath:
          type: string
      # Must specify required properties, otherwise
      # kin-api cannot properly typecast an input
      # object into a specific type. That's because
      # without any required properties, it thinks
      # the input object can be any object since all
      # properties are optional.
      required:
        - "dockerCommand"
        - "dockerContext"
    nativeEnvironmentDetails:
      type: object
      properties:
        buildCommand:
          type: string
        startCommand:
          type: string
      required:
        - "buildCommand"
        - "startCommand"
    webServiceServiceDetails:
      title: "WebService"
      type: object
      properties:
        disk:
          $ref: "#/components/schemas/disk"
        env:
          type: string
          enum:
            - docker
            - elixir
            - go
            - node
            - python
            - ruby
            - rust
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        healthCheckPath:
          type: string
        numInstances:
          type: number
          default: 1
        openPorts:
          type: array
          readOnly: true
          items:
            $ref: "#/components/schemas/openPorts"
        parentServer:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              readOnly: true
            name:
              type: string
              readOnly: true
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
        region:
          type: string
          default: "oregon"
          enum:
            - "oregon"
            - "frankfurt"
        url:
          readOnly: true
          type: string
      required:
        - "env"
    webService:
      title: "WebService"
      description: "A web service"
      allOf:
        - $ref: "#/components/schemas/service"
        - type: object
          properties:
            type:
              type: string
              default: "web_service"
            serviceDetails:
              $ref: "#/components/schemas/webServiceServiceDetails"
    openPorts:
      title: "OpenPorts"
      type: object
      properties:
        port:
          type: number
        protocol:
          type: string
          enum:
            - TCP
            - UDP
    privateServiceDetails:
      title: "PrivateService"
      type: object
      properties:
        disk:
          $ref: "#/components/schemas/disk"
        env:
          type: string
          enum:
            - docker
            - elixir
            - go
            - node
            - python
            - ruby
            - rust
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        numInstances:
          type: number
          default: 1
        openPorts:
          type: array
          readOnly: true
          items:
            $ref: "#/components/schemas/openPorts"
        parentServer:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              readOnly: true
            name:
              type: string
              readOnly: true
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
        region:
          type: string
          default: "oregon"
          enum:
            - "oregon"
            - "frankfurt"
        url:
          readOnly: true
          type: string
      required:
        - "env"
    privateService:
      title: "PrivateService"
      description: "A private service"
      allOf:
        - $ref: "#/components/schemas/service"
        - type: object
          properties:
            type:
              type: string
              default: "private_service"
              readOnly: true
            serviceDetails:
              $ref: "#/components/schemas/privateServiceDetails"
    backgroundWorkerServiceDetails:
      title: "PrivateService"
      type: object
      properties:
        disk:
          $ref: "#/components/schemas/disk"
        env:
          type: string
          enum:
            - docker
            - elixir
            - go
            - node
            - python
            - ruby
            - rust
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        numInstances:
          type: number
          default: 1
        parentServer:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              readOnly: true
            name:
              type: string
              readOnly: true
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        pullRequestPreviewsEnabled:
          type: string
          default: "no"
          enum: ["yes", "no"]
        region:
          type: string
          default: "oregon"
          enum:
            - "oregon"
            - "frankfurt"
        url:
          readOnly: true
          type: string
      required:
        - "env"
    backgroundWorker:
      title: "BackgroundWorker"
      description: "A background worker service"
      allOf:
        - $ref: "#/components/schemas/service"
        - type: object
          properties:
            type:
              type: string
              default: "background_worker"
            serviceDetails:
              $ref: "#/components/schemas/backgroundWorkerServiceDetails"
    cronJobServiceDetails:
      title: "CronJob"
      type: object
      properties:
        env:
          type: string
          enum:
            - docker
            - elixir
            - go
            - node
            - python
            - ruby
            - rust
        envSpecificDetails:
          oneOf:
            - $ref: "#/components/schemas/dockerDetails"
            - $ref: "#/components/schemas/nativeEnvironmentDetails"
        lastSuccessfulRunAt:
          type: string
        plan:
          type: string
          default: "starter"
          enum:
            - "starter"
            - "starter_plus"
            - "standard"
            - "standard_plus"
            - "pro"
            - "pro_plus"
            - "pro_max"
            - "pro_ultra"
        region:
          type: string
          default: "oregon"
          enum:
            - "oregon"
            - "frankfurt"
        schedule:
          type: string
      required:
        - env
        - schedule
    cronJob:
      title: "CronJob"
      description: "A cron job"
      allOf:
        - $ref: "#/components/schemas/service"
        - type: object
          properties:
            type:
              type: string
              default: "cron_job"
            serviceDetails:
              $ref: "#/components/schemas/cronJobServiceDetails"
    service:
      title: "Service"
      description: "The service object represents a service. The type of service is discriminated by the type property which determines the type of object in the serviceDetails property."
      type: object
      properties:
        autoDeploy:
          description: Whether to auto deploy the service or not upon git push.
          type: string
          default: "no"
          enum: ["yes", "no"]
        branch:
          type: string
          description: "If left empty, this will fall back to the default branch of the repository."
        createdAt:
          type: string
          readOnly: true
        envVars:
          type: array
          items:
            $ref: "#/components/schemas/envVarKeyValue"
        name:
          type: string
        notifyOnFail:
          description: The notification setting for this service upon deployment failure.
          type: string
          readOnly: true
          enum: ["default", "notify", "ignore"]
        ownerId:
          type: string
          description: The id of the owner (user/team).
        repo:
          type: string
          description: "Do not include the branch in the repo string. You can instead supply a 'branch' parameter."
        secretFiles:
          type: array
          items:
            $ref: "#/components/schemas/secretFile"
        slug:
          type: string
          readOnly: true
        suspended:
          type: string
          readOnly: true
          enum: ["suspended", "not_suspended"]
        suspenders:
          type: array
          readOnly: true
          items:
            type: string
        updatedAt:
          type: string
          readOnly: true
      required:
        - "type"
        - "name"
        - "ownerId"
        - "repo"
    listServiceResponse:
      type: object
      properties:
        cursor:
          type: string
        service:
          discriminator:
            propertyName: type
            mapping:
              "static_site": "#/components/schemas/staticSite"
              "web_service": "#/components/schemas/webService"
              "private_service": "#/components/schemas/privateService"
              "background_worker": "#/components/schemas/backgroundWorker"
              "cron_job": "#/components/schemas/cronJob"
          oneOf:
            - $ref: "#/components/schemas/staticSite"
            - $ref: "#/components/schemas/webService"
            - $ref: "#/components/schemas/privateService"
            - $ref: "#/components/schemas/backgroundWorker"
            - $ref: "#/components/schemas/cronJob"
    listServices:
      type: array
      items:
        $ref: "#/components/schemas/listServiceResponse"
    envVarKeyValue:
      type: object
      properties:
        key:
          type: string
        generateValue:
          type: string
          enum:
            - "yes"
            - "no"
        value:
          type: string
      required:
        - "key"
    envVar:
      title: EnvVar
      type: object
      # Note: This is a departure from the actual API.
      # The actual API for updating/replacing env vars
      # actually just takes a top-level array of objects.
      # We've nested it under an envVars property to help
      # with resource construction via Pulumi.
      properties:
        envVars:
          type: array
          items:
            $ref: "#/components/schemas/envVarKeyValue"
    listEnvVarsResponse:
      type: object
      properties:
        cursor:
          type: string
        envVar:
          $ref: "#/components/schemas/envVarKeyValue"
    listEnvVars:
      type: array
      items:
        $ref: "#/components/schemas/listEnvVarsResponse"
    suspendService:
      title: "Suspend"
      type: object
      properties: {}
    commit:
      type: object
      readOnly: true
      properties:
        id:
          type: string
          readOnly: true
        message:
          type: string
          readOnly: true
        createdAt:
          type: string
          readOnly: true
    deploy:
      title: Deploy
      type: object
      properties:
        commit:
          $ref: "#/components/schemas/commit"
        clearCache:
          type: string
          default: "do_not_clear"
          enum: ["do_not_clear", "clear"]
    listDeploysResponse:
      type: object
      properties:
        cursor:
          type: string
        customDomain:
          $ref: "#/components/schemas/deploy"
    listDeploys:
      type: array
      items:
        $ref: "#/components/schemas/listDeploysResponse"
    customDomain:
      title: CustomDomain
      type: object
      properties:
        name:
          type: string
        domainType:
          type: string
          readOnly: true
          enum:
            - "apex"
            - "subdomain"
        publicSuffix:
          type: string
          readOnly: true
        redirectForName:
          type: string
          readOnly: true
        verificationStatus:
          type: string
          readOnly: true
          enum:
            - "verified"
            - "unverified"
        createdAt:
          type: string
          readOnly: true
        server:
          type: object
          properties:
            id:
              type: string
              readOnly: true
            name:
              type: string
              readOnly: true
      required:
        - "name"
        - "domainType"
        - "redirectForName"
        - "verificationStatus"
        - "server"
    createCustomDomainResponse:
      type: array
      items:
        $ref: "#/components/schemas/customDomain"
    listCustomDomainsResponse:
      type: object
      properties:
        cursor:
          type: string
        customDomain:
          $ref: "#/components/schemas/customDomain"
    listCustomDomains:
      type: array
      items:
        $ref: "#/components/schemas/listCustomDomainsResponse"
    job:
      title: Job
      type: object
      properties:
        startCommand:
          type: string
        planId:
          type: string
        status:
          type: string
          readOnly: true
        createdAt:
          type: string
          readOnly: true
        startedAt:
          type: string
          readOnly: true
        finishedAt:
          type: string
          readOnly: true
      required:
        - startCommand
        - planId
    listJobsResponse:
      type: object
      properties:
        cursor:
          type: string
        job:
          $ref: "#/components/schemas/job"
    listJobs:
      type: array
      items:
        $ref: "#/components/schemas/listJobsResponse"
security:
  - bearerAuth: []
tags:
  - name: Owners
    description: >-
      [https://api-docs.render.com/reference/owners-1](https://api-docs.render.com/reference/owners-1)
  - name: Services
    description: >-
      [https://api-docs.render.com/reference/service-fields](https://api-docs.render.com/reference/service-fields)
  - name: Deploys
    description: >-
      [https://api-docs.render.com/reference/get-deploys](https://api-docs.render.com/reference/get-deploys)
  - name: Custom Domains
  - name: Jobs
paths:
  /owners:
    get:
      tags:
        - Owners
      summary: List authorized users and teams
      description: >-
        [https://api-docs.render.com/reference/get-owners](https://api-docs.render.com/reference/get-owners)
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: name
          in: query
          schema:
            type: string
          example: sed aliqua qui anim
        - name: email
          in: query
          schema:
            type: string
          example: sed aliqua qui anim
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor to begin retrieving entries for this query
          example: Lorem amet sin
        - name: limit
          in: query
          schema:
            type: integer
          description: Max number of items that can be returned
          example: 20
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOwners"
              example:
                - owner:
                    id: tempor labore voluptate velit dolore
                    name: amet enim qui adipisicing
                    email: quis
                    type: user
                  cursor: incididunt labore occaecat eiusmod dolore
                - owner:
                    id: anim ea aute
                    name: enim nostrud
                    email: occa
                    type: team
                  cursor: consectetur ut
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /owners/{id}:
    get:
      tags:
        - Owners
      summary: Retrieve user or team
      description: >-
        [https://api-docs.render.com/reference/get-owner](https://api-docs.render.com/reference/get-owner)
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the user or team
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/owner"
              example:
                id: nisi aute veniam elit
                name: labore
                email: id adipisicing Excepteur
                type: user
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services:
    get:
      tags:
        - Services
      summary: List services
      description: >-
        [https://api-docs.render.com/reference/get-services](https://api-docs.render.com/reference/get-services)
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: name
          in: query
          schema:
            type: string
          description: Filter for the names of services
          example: sed aliqua qui anim,do
        - name: type
          in: query
          schema:
            type: string
          description: Filter for types of services
          example: web_service,cron_job
        - name: env
          in: query
          schema:
            type: string
          description: Filter for environments of services
          example: rust,node
        - name: region
          in: query
          schema:
            type: string
          description: Filter for regions of services
          example: frankfurt,frankfurt
        - name: suspended
          in: query
          schema:
            type: string
          description: Filter services based on whether they're suspended or not suspended
          example: suspended,not_suspended
        - name: createdBefore
          in: query
          schema:
            type: string
          description: >-
            Filter for services created before a certain time (specified as an
            ISO 8601 timestamp)
          example: "2021-06-17T08:15:30Z"
        - name: createdAfter
          in: query
          schema:
            type: string
          description: >-
            Filter for services created after a certain time (specified as an
            ISO 8601 timestamp)
          example: "2021-02-17T08:15:30Z"
        - name: updatedBefore
          in: query
          schema:
            type: string
          description: >-
            Filter for services updated before a certain time (specified as an
            ISO 8601 timestamp)
          example: "2021-06-17T08:15:30Z"
        - name: updatedAfter
          in: query
          schema:
            type: string
          description: >-
            Filter for services updated after a certain time (specified as an
            ISO 8601 timestamp)
          example: "2021-02-17T08:15:30Z"
        - name: ownerId
          in: query
          schema:
            type: string
          description: >-
            The ID of the owner (team or personal user) whose resources should
            be returned
          example: sed aliqua qui anim,do
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor to begin retrieving entries for this query
          example: Lorem amet sin
        - name: limit
          in: query
          schema:
            type: integer
          description: Max number of items that can be returned
          example: 20
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listServices"
              example:
                - service:
                    id: irure occaecat aute reprehenderit
                    autoDeploy: "no"
                    branch: proident eu amet
                    createdAt: "2019-10-01T21:05:43.378Z"
                    name: qui
                    notifyOnFail: ignore
                    ownerId: ut laboris
                    repo: https://github.com/render-examples/flask-hello-world
                    slug: nulla dolore
                    suspended: suspended
                    suspenders:
                      - unknown
                      - billing
                    type: web_service
                    updatedAt: "2001-04-20T02:58:48.244Z"
                    serviceDetails:
                      buildCommand: irure
                      parentServer:
                        id: nulla Duis et
                        name: incididunt eiusmod
                      publishPath: irure consectetur ex
                      pullRequestPreviewsEnabled: "no"
                      url: ut irure
                      env: docker
                  cursor: non aliquip culpa labore
                - service:
                    id: Duis ex enim
                    autoDeploy: "no"
                    branch: Lorem commodo in
                    createdAt: "2012-11-16T11:56:07.514Z"
                    name: laborum deserunt ullamco nostrud
                    notifyOnFail: default
                    ownerId: aliqua
                    repo: https://github.com/render-examples/flask-hello-world
                    slug: incididu
                    suspended: suspended
                    suspenders:
                      - parent_service
                      - user
                    type: private_service
                    updatedAt: "1976-10-06T18:26:05.215Z"
                    serviceDetails:
                      buildCommand: nisi sed sint aliqua exercitation
                      parentServer:
                        id: veniam voluptate incididunt
                        name: anim non consectetur occaecat
                      publishPath: cupidatat irure pariatur commodo dolor
                      pullRequestPreviewsEnabled: "yes"
                      url: velit lab
                      env: docker
                  cursor: ut pariatur
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
    post:
      tags:
        - Services
      summary: Create service
      description: >-
        [https://api-docs.render.com/reference/create-service](https://api-docs.render.com/reference/create-service)
      requestBody:
        content:
          application/json:
            schema:
              discriminator:
                propertyName: type
                mapping:
                  "static_site": "#/components/schemas/staticSite"
                  "web_service": "#/components/schemas/webService"
                  "private_service": "#/components/schemas/privateService"
                  "background_worker": "#/components/schemas/backgroundWorker"
                  "cron_job": "#/components/schemas/cronJob"
              oneOf:
                - $ref: "#/components/schemas/staticSite"
                - $ref: "#/components/schemas/webService"
                - $ref: "#/components/schemas/privateService"
                - $ref: "#/components/schemas/backgroundWorker"
                - $ref: "#/components/schemas/cronJob"
              example:
                type: web_service
                name: cillum ipsum
                ownerId: iru
                repo: https://github.com/render-examples/flask-hello-world
                autoDeploy: "yes"
                branch: Excepteur mollit in
                envVars:
                  - key: eu
                    value: dolor
                  - key: minim nisi voluptate non
                    value: vol
                secretFiles:
                  - name: ad ex Duis
                    contents: ipsum consequat dolor dolor
                  - name: sunt paria
                    contents: exercitation ut Duis ex
                serviceDetails:
                  buildCommand: dolore ex
                  headers:
                    - path: enim Excepteur p
                      name: deserunt
                      value: commodo nisi proident ad velit
                    - path: labore vel
                      name: exercitation dolor minim nostrud esse
                      value: Lorem occaecat tempor
                  publishPath: public
                  pullRequestPreviewsEnabled: "no"
                  routes:
                    - type: redirect
                      source: sed
                      destination: dolor
                    - type: redirect
                      source: proident aute irure veniam occaecat
                      destination: sit culpa a
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "201":
          description: Created
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                service:
                  id: ea veniam
                  autoDeploy: "yes"
                  branch: Excepteur
                  createdAt: "1999-10-21T15:43:09.576Z"
                  name: e
                  notifyOnFail: default
                  ownerId: laborum mollit
                  repo: https://github.com/render-examples/flask-hello-world
                  slug: nisi tempor dolore
                  suspended: not_suspended
                  suspenders:
                    - admin
                    - unknown
                  type: private_service
                  updatedAt: "1988-04-27T23:28:54.313Z"
                  serviceDetails:
                    buildCommand: ut
                    parentServer:
                      id: es
                      name: "sunt eu do amet "
                    publishPath: ipsum ut
                    pullRequestPreviewsEnabled: "no"
                    url: officia ut Excepteur culpa
                deployId: nostrud qui Excepteur commodo
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "402":
          description: Payment Required
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "409":
          description: Conflict
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{id}:
    get:
      tags:
        - Services
      summary: Retrieve service
      description: >-
        [https://api-docs.render.com/reference/get-service](https://api-docs.render.com/reference/get-service)
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                discriminator:
                  propertyName: type
                  mapping:
                    "static_site": "#/components/schemas/staticSite"
                    "web_service": "#/components/schemas/webService"
                    "private_service": "#/components/schemas/privateService"
                    "background_worker": "#/components/schemas/backgroundWorker"
                    "cron_job": "#/components/schemas/cronJob"
                oneOf:
                  - $ref: "#/components/schemas/staticSite"
                  - $ref: "#/components/schemas/webService"
                  - $ref: "#/components/schemas/privateService"
                  - $ref: "#/components/schemas/backgroundWorker"
                  - $ref: "#/components/schemas/cronJob"
              example:
                id: in deserunt laboris dolore
                autoDeploy: "yes"
                branch: nostrud Duis laboris nisi
                createdAt: "1942-04-20T08:53:35.077Z"
                name: amet ex Excepteur
                notifyOnFail: notify
                ownerId: est dolore eiusmod do
                repo: https://github.com/render-examples/flask-hello-world
                slug: ut proident ea sit
                suspended: not_suspended
                suspenders:
                  - parent_service
                  - unknown
                type: static_site
                updatedAt: "1983-02-10T05:26:21.960Z"
                serviceDetails:
                  buildCommand: aliquip in ea aliqua elit
                  parentServer:
                    id: aute consectetur ad consequat
                    name: ut sed sint ipsum Duis
                  publishPath: "incididunt in pariatur "
                  pullRequestPreviewsEnabled: "yes"
                  url: aliquip laboris
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
    patch:
      tags:
        - Services
      summary: Update service
      description: >-
        [https://api-docs.render.com/reference/update-service](https://api-docs.render.com/reference/update-service)
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/patchStaticSite"
                - $ref: "#/components/schemas/patchWebService"
                - $ref: "#/components/schemas/patchPrivateService"
                - $ref: "#/components/schemas/patchBackgroundWorker"
                - $ref: "#/components/schemas/patchCronJob"
              example:
                autoDeploy: "yes"
                branch: amet dolore officia quis est
                name: nisi minim et
                serviceDetails:
                  buildCommand: ex qui
                  publishPath: dolor laboris Excepteur fugiat
                  pullRequestPreviewsEnabled: "no"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: in deserunt laboris dolore
                autoDeploy: "yes"
                branch: nostrud Duis laboris nisi
                createdAt: "1942-04-20T08:53:35.077Z"
                name: amet ex Excepteur
                notifyOnFail: notify
                ownerId: est dolore eiusmod do
                repo: https://github.com/render-examples/flask-hello-world
                slug: ut proident ea sit
                suspended: not_suspended
                suspenders:
                  - parent_service
                  - unknown
                type: static_site
                updatedAt: "1983-02-10T05:26:21.960Z"
                serviceDetails:
                  buildCommand: aliquip in ea aliqua elit
                  parentServer:
                    id: aute consectetur ad consequat
                    name: ut sed sint ipsum Duis
                  publishPath: "incididunt in pariatur "
                  pullRequestPreviewsEnabled: "yes"
                  url: aliquip laboris
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "402":
          description: Payment Required
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "409":
          description: Conflict
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
    delete:
      tags:
        - Services
      summary: Delete service
      description: >-
        [https://api-docs.render.com/reference/delete-service](https://api-docs.render.com/reference/delete-service)
      # DELETE operations actually don't have a request body, well, at least not very often
      # and certainly not in Render. It's included here to help the provider make the link
      # between this operation and the resources that should use this.
      # TODO: Maybe there's a better way?
      requestBody:
        content:
          application/json:
            schema:
              discriminator:
                propertyName: type
                mapping:
                  "static_site": "#/components/schemas/staticSite"
                  "web_service": "#/components/schemas/webService"
                  "private_service": "#/components/schemas/privateService"
                  "background_worker": "#/components/schemas/backgroundWorker"
                  "cron_job": "#/components/schemas/cronJob"
              oneOf:
                - $ref: "#/components/schemas/staticSite"
                - $ref: "#/components/schemas/webService"
                - $ref: "#/components/schemas/privateService"
                - $ref: "#/components/schemas/backgroundWorker"
                - $ref: "#/components/schemas/cronJob"
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "204":
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: ""
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{serviceId}/env-vars:
    get:
      tags:
        - Services
      summary: Retrieve environment variables
      description: >-
        [https://api-docs.render.com/reference/get-env-vars-for-service](https://api-docs.render.com/reference/get-env-vars-for-service)
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor to begin retrieving entries for this query
          example: Lorem amet sin
        - name: limit
          in: query
          schema:
            type: integer
          description: Max number of items that can be returned
          example: 20
        - name: serviceId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listEnvVars"
              example:
                - envVar:
                    key: eu mollit reprehenderit nulla
                    value: ad
                  cursor: magna aliquip cillum in
                - envVar:
                    key: fugiat non ut tempor
                    value: vol
                  cursor: mollit do nulla non
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
    put:
      tags:
        - Services
      summary: Update environment variables
      description: >-
        [https://api-docs.render.com/reference/update-env-vars-for-service](https://api-docs.render.com/reference/update-env-vars-for-service)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/envVar"
              example:
                - key: aute cupidatat
                  value: esse
                - key: officia esse nostrud Excepteur
                  value: Lorem
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: serviceId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listEnvVars"
              example:
                - envVar:
                    key: eu mollit reprehenderit nulla
                    value: ad
                  cursor: magna aliquip cillum in
                - envVar:
                    key: fugiat non ut tempor
                    value: vol
                  cursor: mollit do nulla non
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{serviceId}/headers:
    get:
      tags:
        - Services
      summary: Retrieve headers
      description: >-
        [https://api-docs.render.com/reference/get-headers](https://api-docs.render.com/reference/get-headers)
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: path
          in: query
          schema:
            type: string
          description: Filter for specific paths that headers apply to
          example: sed aliqua qui anim,do
        - name: name
          in: query
          schema:
            type: string
          description: Filter for header names
          example: sed aliqua qui anim,do
        - name: value
          in: query
          schema:
            type: string
          description: Filter for header values
          example: sed aliqua qui anim,do
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor to begin retrieving entries for this query
          example: Lorem amet sin
        - name: limit
          in: query
          schema:
            type: integer
          description: Max number of items that can be returned
          example: 20
        - name: serviceId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listServiceHeaders"
              example:
                - headers:
                    path: in officia
                    name: deserunt mollit enim nostrud
                    value: ut ea
                  cursor: officia dolore Excepteur
                - headers:
                    path: aliquip
                    name: ullamco amet in
                    value: ali
                  cursor: Lorem reprehenderit
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{serviceId}/routes:
    get:
      tags:
        - Services
      summary: Retrieve redirect and rewrite rules
      description: >-
        [https://api-docs.render.com/reference/get-routes](https://api-docs.render.com/reference/get-routes)
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: query
          schema:
            type: string
          description: Filter for the type of route rule
          example: redirect,redirect
        - name: source
          in: query
          schema:
            type: string
          description: Filter for the source path of the route
          example: sed aliqua qui anim,do
        - name: destination
          in: query
          schema:
            type: string
          description: Filter for the destination path of the route
          example: sed aliqua qui anim,do
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor to begin retrieving entries for this query
          example: Lorem amet sin
        - name: limit
          in: query
          schema:
            type: integer
          description: Max number of items that can be returned
          example: 20
        - name: serviceId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listStaticSiteRoutes"
              example:
                - route:
                    type: rewrite
                    source: fugiat Lorem dolor
                    destination: in occaecat proident qui incididunt
                  cursor: anim labore
                - route:
                    type: redirect
                    source: anim dolor dolore
                    destination: ad sint quis
                  cursor: cillum reprehenderit esse
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{serviceId}/suspend:
    post:
      tags:
        - Services
      summary: Suspend service
      description: >-
        [https://api-docs.render.com/reference/suspend-service-1](https://api-docs.render.com/reference/suspend-service-1)
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/suspendService"
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: serviceId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "202":
          description: Accepted
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: ""
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{serviceId}/resume:
    post:
      tags:
        - Services
      summary: Resume service
      description: >-
        [https://api-docs.render.com/reference/resume-service-1](https://api-docs.render.com/reference/resume-service-1)
      requestBody:
        content: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: serviceId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "202":
          description: Accepted
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: ""
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{serviceId}/scale:
    post:
      tags:
        - Services
      summary: Scale service to desired number of instances
      description: >-
        [https://api-docs.render.com/reference/scale-service](https://api-docs.render.com/reference/scale-service)
      requestBody:
        content:
          application/json:
            schema:
              title: Scale
              type: object
              properties:
                numInstances:
                  type: number
              required: ["numInstances"]
              example:
                numInstances: 3
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: serviceId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ID of the service
          example: Lorem amet sin
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: officia ut dolor
                commit:
                  id: incididunt in deserunt aliquip exerc
                  message: aliquip non dolore
                  createdAt: "1976-01-22T15:20:29.246Z"
                status: created
                finishedAt: "1959-01-25T18:23:55.820Z"
                createdAt: "1969-09-01T14:51:32.931Z"
                updatedAt: "1980-10-29T06:36:55.491Z"
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "401":
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "406":
          description: Not Acceptable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "410":
          description: Gone
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "429":
          description: Too Many Requests
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "500":
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
        "503":
          description: Service Unavailable
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: dolor
                message: sunt Excepteur deserunt dolor
  /services/{serviceId}/deploys:
    get:
      tags:
        - Deploys
      summary: List deploys
      description: >-
        [https://api-docs.render.com/reference/get-deploys](https://api-docs.render.com/reference/get-deploys)
[...]
