openapi: 3.0.2
info:
  title: Render Public API
  description: Manage everything about your Render services
  version: 1.0.0
  contact:
    name: Render API
    url: 'https://community.render.com'
    email: support@render.com
x-readme:
  metrics-enabled: false
  explorer-enabled: true
  proxy-enabled: true
servers:
  - url: 'https://api.render.com/v1'
security:
  - BearerAuth: []
tags:
  - name: Blueprints
    description: >
      [Blueprints](https://docs.render.com/infrastructure-as-code) allow you to
      define your resources in a `render.yaml` file and automatically sync
      changes to your Render services.

      The API gives control over how your blueprints are used to create and
      manage resources.
  - name: Custom Domains
    description: >
      [Custom Domains](https://docs.render.com/custom-domains) allow you to
      associate domain names with your Render services.
  - name: Deploys
    description: >
      [Deploys](https://docs.render.com/deploys) are the process of updating
      your service with new code or configuration.

      These endpoints allow you to retrieve data on the deploys of your services

      as well as trigger new deploys and rollbacks. Most changes to your service

      will require a new deploy to take effect.


      To create and manage services, use the `Services` endpoints.
  - name: Disks
    description: >
      [Disks](https://docs.render.com/disks) allow you to attach persistent
      storage to your services.
  - name: Environment Groups
    description: >-
      Collections of environment variables and secret files that can be shared
      between multiple services
  - name: Logs
    description: >
      [Logs](https://docs.render.com/logging) allow you to retrieve logs for
      your services, PostgreSQL databases, and redis instances.

      You can query for logs or subscribe to logs in real-time via a websocket.
  - name: Maintenance
    description: >-
      The `Maintenance` endpoints allow you to retrieve the latest maintenance
      runs for your Render services. You can also reschedule maintenance or
      trigger it to start immediately.
  - name: Metrics
    description: >-
      The `Metrics` endpoints allow you to retrieve metrics for your services,
      PostgreSQL databases, and redis instances.
  - name: Notification Settings
    description: >
      [Notification Settings](https://docs.render.com/notifications) allow you
      to configure which notifications you want to recieve, and

      where you will receive them.
  - name: One-Off Jobs
    description: >
      [One-off jobs](https://docs.render.com/jobs) are standalone tasks that run
      to completion using the most recent successful build of an existing
      service.
  - name: Owners
    description: >-
      The `Owners` endpoints supply more information about the users and teams
      that your API key has access to.
  - name: PostgreSQL
    description: >
      [PostgreSQL](https://docs.render.com/databases) endpoints enable you to
      interact with your Render PostgreSQL databases.

      You can manage databases, backups, recoveries, and failovers.
  - name: Projects & Environments
    description: >-
      Collections of services and other resources organized by environment
      (staging, production, etc.)
  - name: Redis
    description: >
      [Redis](https://docs.render.com/redis) allows you to interact with your
      Render Redis instances.
  - name: Registry Credentials
    description: >
      [Registry
      Credentials](https://docs.render.com/deploy-an-image#credentials-for-private-images)
      allows you to manage credentials for private Docker images.
  - name: Services
    description: >
      [Services](https://docs.render.com/services) allow you to manage your web
      services, private services, background workers, cron jobs, and static
      sites.
  - name: Services - Cron Jobs
    description: >
      [Cron Jobs](https://docs.render.com/cronjobs) allow you to interact with
      runs of your cron jobs.
  - name: Services - Headers
    description: >-
      Use HTTP headers to inject response headers in static site responses. You
      can also use wildcards like /path/* to add headers to responses for all
      matching request paths.
  - name: Services - Routes
    description: >-
      Add Redirect or Rewrite Rules to modify requests to your site without
      writing code. You can use URL parameters to capture path segments, and
      wildcards to redirect everything under a given path.
paths:
  /blueprints:
    get:
      summary: List blueprints
      description: >
        List blueprints for the provided owners. If no owners are provided,
        returns all blueprints you have permissions to view.
      operationId: list-blueprints
      parameters:
        - $ref: '#/components/parameters/ownerIdParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      tags:
        - Blueprints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/blueprintWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/blueprints/{blueprintId}':
    parameters:
      - name: blueprintId
        in: path
        required: true
        description: The ID of the blueprint
        schema:
          type: string
          pattern: '^exs-[0-9a-z]{20}$'
          example: exs-cph1rs3idesc73a2b2mg
    get:
      summary: Retrieve blueprint
      description: |
        Retrieve the blueprint with the provided ID.
      operationId: retrieve-blueprint
      tags:
        - Blueprints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - name
                  - status
                  - autoSync
                  - repo
                  - branch
                  - resources
                properties:
                  id:
                    $ref: >-
                      #/paths/~1blueprints~1%7BblueprintId%7D/parameters/0/schema
                  name:
                    type: string
                  status:
                    type: string
                    enum:
                      - created
                      - paused
                      - in_sync
                      - syncing
                      - error
                  autoSync:
                    $ref: >-
                      #/paths/~1blueprints~1%7BblueprintId%7D/patch/requestBody/content/application~1json/schema/properties/autoSync
                  repo:
                    type: string
                  branch:
                    type: string
                  lastSync:
                    type: string
                    format: date-time
                  resources:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - type
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                          description: type of the resource (ex. web_service or postgres)
                          enum:
                            - static_site
                            - web_service
                            - private_service
                            - background_worker
                            - cron_job
                            - redis
                            - postgres
                            - environment_group
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update blueprint
      description: |
        Update the blueprint with the provided ID.
      operationId: update-blueprint
      tags:
        - Blueprints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                autoSync:
                  type: boolean
                  description: Automatically sync changes to render.yaml
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blueprintWithCursor/properties/blueprint'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Disconnect blueprint
      operationId: disconnect-blueprint
      description: >
        Disconnect the blueprint with the provided ID.


        Disconnecting a blueprint stops automatic resource syncing via the
        associated `render.yaml` file. It does not _delete_ any services or
        other resources that were managed by the blueprint.
      tags:
        - Blueprints
      responses:
        '204':
          description: Blueprint disconnected
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/blueprints/{blueprintId}/syncs':
    parameters:
      - $ref: '#/paths/~1blueprints~1%7BblueprintId%7D/parameters/0'
      - $ref: '#/components/parameters/cursorParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      description: |
        List syncs for the blueprint with the provided ID.
      summary: List blueprint syncs
      operationId: list-blueprint-syncs
      tags:
        - Blueprints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/syncWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /disks:
    get:
      summary: List disks
      description: >
        List persistent disks matching the provided filters. If no filters are
        provided, returns all disks you have permissions to view.
      parameters:
        - $ref: '#/components/parameters/ownerIdParam'
        - name: diskId
          in: query
          description: Filter by disk IDs
          schema:
            type: array
            items:
              $ref: '#/paths/~1disks~1%7BdiskId%7D/parameters/0/schema'
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/createdBeforeParam'
        - $ref: '#/components/parameters/createdAfterParam'
        - $ref: '#/components/parameters/updatedBeforeParam'
        - $ref: '#/components/parameters/updatedAfterParam'
        - $ref: '#/components/parameters/serviceIdsParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      operationId: list-disks
      tags:
        - Disks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/diskWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Add disk
      description: >
        Attach a persistent disk to a web service, private service, or
        background worker.


        The service must be redeployed for the disk to be attached.
      operationId: add-disk
      tags:
        - Disks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sizeGB
                - mountPath
                - serviceId
              properties:
                name:
                  type: string
                sizeGB:
                  type: integer
                mountPath:
                  type: string
                serviceId:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diskWithCursor/properties/disk'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/disks/{diskId}':
    parameters:
      - name: diskId
        in: path
        required: true
        description: The ID of the disk
        schema:
          type: string
          pattern: '^dsk-[0-9a-z]{20}$'
          example: dsk-cph1rs3idesc73a2b2mg
    get:
      summary: Retrieve disk
      description: |
        Retrieve the persistent disk with the provided ID.
      operationId: retrieve-disk
      tags:
        - Disks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diskWithCursor/properties/disk'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update disk
      description: >
        Update the persistent disk with the provided ID.


        The disk's associated service must be deployed and active for updates to
        take effect.


        When resizing a disk, the new size must be greater than the current
        size.
      operationId: update-disk
      tags:
        - Disks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                sizeGB:
                  type: integer
                mountPath:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diskWithCursor/properties/disk'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete disk
      description: >
        Delete a persistent disk attached to a service.


        **All data on the disk will be lost.** The disk's associated service
        will immediately lose access to it.
      operationId: delete-disk
      tags:
        - Disks
      responses:
        '204':
          description: Disk deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/disks/{diskId}/snapshots':
    parameters:
      - name: diskId
        in: path
        required: true
        description: The ID of the disk
        schema:
          type: string
    get:
      summary: List snapshots
      description: >
        List snapshots for the persistent disk with the provided ID. Each
        snapshot is a point-in-time copy of the disk's data.
      operationId: list-snapshots
      tags:
        - Disks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/diskSnapshot'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/disks/{diskId}/snapshots/restore':
    parameters:
      - name: diskId
        in: path
        required: true
        description: The ID of the disk
        schema:
          type: string
    post:
      summary: Restore snapshot
      description: >
        Restore a persistent disk to an available snapshot.


        **This operation is irreversible.** It will overwrite the current disk
        data. It might also trigger a service deploy.


        Snapshot keys returned from the [List
        snapshots](https://api-docs.render.com/reference/list-snapshots)
        endpoint expire after 24 hours. If a snapshot key has expired, query the
        endpoint again for a new key.
      operationId: restore-snapshot
      tags:
        - Disks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snapshotRestorePOST'
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diskWithCursor/properties/disk'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /owners:
    get:
      summary: List authorized users and teams
      description: >
        List the users and teams matching the provided filters. If no filters
        are provided, return all users and teams you have permissions to view.
      operationId: list-owners
      tags:
        - Owners
      parameters:
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
        - name: email
          in: query
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    owner:
                      $ref: '#/components/schemas/owner'
                    cursor:
                      $ref: '#/components/schemas/cursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/owners/{ownerId}':
    parameters:
      - name: ownerId
        in: path
        required: true
        description: The ID of the user or team
        schema:
          type: string
    get:
      summary: Retrieve user or team
      description: |
        Retrieve a user or team given the user or team id.
      operationId: retrieve-owner
      tags:
        - Owners
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/owner'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/notification-settings/owners/{ownerId}':
    parameters:
      - $ref: '#/components/parameters/ownerIdPathParam'
    get:
      summary: Retrieve notification settings
      description: >
        Retrieve notification settings for the owner with the provided ID.


        Note that you provide an owner ID to this endpoint, not the ID for a
        particular resource.
      operationId: retrieve-owner-notification-settings
      tags:
        - Notification Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - ownerId
                  - slackEnabled
                  - emailEnabled
                  - previewNotificationsEnabled
                  - notificationsToSend
                properties:
                  ownerId:
                    type: string
                  slackEnabled:
                    type: boolean
                  emailEnabled:
                    type: boolean
                  previewNotificationsEnabled:
                    type: boolean
                  notificationsToSend:
                    $ref: >-
                      #/paths/~1notification-settings~1owners~1%7BownerId%7D/patch/requestBody/content/application~1json/schema/properties/notificationsToSend
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update notification settings
      description: |
        Update notification settings for the owner with the provided ID.
      operationId: patch-owner-notification-settings
      tags:
        - Notification Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emailEnabled:
                  type: boolean
                previewNotificationsEnabled:
                  type: boolean
                notificationsToSend:
                  type: string
                  enum:
                    - none
                    - failure
                    - all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1notification-settings~1owners~1%7BownerId%7D/get/responses/200/content/application~1json/schema
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /notification-settings/overrides:
    get:
      parameters:
        - $ref: '#/components/parameters/ownerIdParam'
        - $ref: '#/components/parameters/serviceIdsParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      summary: List notification overrides
      description: >
        List notification overrides matching the provided filters. If no filters
        are provided, returns all notification overrides for all teams the user
        belongs to.
      operationId: list-notification-overrides
      tags:
        - Notification Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/notificationOverrideWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/notification-settings/overrides/services/{serviceId}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: Retrieve notification override
      description: >
        Retrieve the notification override for the service with the provided ID.


        Note that you provide a service ID to this endpoint, not the ID for a
        particular override.
      operationId: retrieve-service-notification-overrides
      tags:
        - Notification Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - serviceId
                  - previewNotificationsEnabled
                  - notificationsToSend
                properties:
                  serviceId:
                    type: string
                  previewNotificationsEnabled:
                    $ref: >-
                      #/paths/~1notification-settings~1overrides~1services~1%7BserviceId%7D/patch/requestBody/content/application~1json/schema/properties/previewNotificationsEnabled
                  notificationsToSend:
                    $ref: >-
                      #/paths/~1notification-settings~1overrides~1services~1%7BserviceId%7D/patch/requestBody/content/application~1json/schema/properties/notificationsToSend
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update notification override
      description: |
        Update the notification override for the service with the provided ID.
      operationId: patch-service-notification-overrides
      tags:
        - Notification Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                previewNotificationsEnabled:
                  type: string
                  enum:
                    - default
                    - 'false'
                    - 'true'
                notificationsToSend:
                  type: string
                  enum:
                    - default
                    - none
                    - failure
                    - all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1notification-settings~1overrides~1services~1%7BserviceId%7D/get/responses/200/content/application~1json/schema
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /registrycredentials:
    get:
      summary: List registry credentials
      description: >
        List registry credentials matching the provided filters. If no filters
        are provided, returns all registry credentials you have permissions to
        view.
      operationId: list-registry-credentials
      tags:
        - Registry Credentials
      parameters:
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for the name of a credential
        - name: username
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for the username of a credential
        - name: type
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/registryCredentialRegistry'
          style: form
          explode: false
          required: false
          description: Filter for the registry type for the credential
        - name: createdBefore
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for services created before a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-06-17T08:15:30Z'
        - name: createdAfter
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for services created after a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-02-17T08:15:30Z'
        - name: updatedBefore
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for services updated before a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-06-17T08:15:30Z'
        - name: updatedAfter
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for services updated after a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-02-17T08:15:30Z'
        - $ref: '#/components/parameters/ownerIdParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/registryCredential'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Create registry credential
      description: Create a new registry credential.
      operationId: create-registry-credential
      tags:
        - Registry Credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - registry
                - username
                - authToken
                - ownerId
              properties:
                registry:
                  $ref: '#/components/schemas/registryCredentialRegistry'
                name:
                  type: string
                username:
                  type: string
                authToken:
                  type: string
                ownerId:
                  type: string
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registryCredential'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/registrycredentials/{registryCredentialId}':
    parameters:
      - name: registryCredentialId
        in: path
        required: true
        description: The ID of the registry credential
        schema:
          type: string
    get:
      summary: Retrieve registry credential
      description: Retrieve the registry credential with the provided ID.
      operationId: retrieve-registry-credential
      tags:
        - Registry Credentials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registryCredential'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update registry credential
      description: >-
        Update the registry credential with the provided ID. Services that use
        this credential must be redeployed to use updated values.
      operationId: update-registry-credential
      tags:
        - Registry Credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - registry
                - username
                - authToken
              properties:
                registry:
                  $ref: '#/components/schemas/registryCredentialRegistry'
                name:
                  type: string
                username:
                  type: string
                authToken:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registryCredential'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete registry credential
      description: Delete the registry credential with the provided ID.
      operationId: delete-registry-credential
      tags:
        - Registry Credentials
      responses:
        '204':
          description: Registry credential deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /services:
    get:
      summary: List services
      description: >
        List services matching the provided filters. If no filters are provided,
        returns all services you have permissions to view.
      operationId: list-services
      tags:
        - Services
      parameters:
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/serviceTypeParam'
        - $ref: '#/components/parameters/envParam'
        - $ref: '#/components/parameters/regionParam'
        - $ref: '#/components/parameters/suspendedParam'
        - $ref: '#/components/parameters/createdBeforeParam'
        - $ref: '#/components/parameters/createdAfterParam'
        - $ref: '#/components/parameters/updatedBeforeParam'
        - $ref: '#/components/parameters/updatedAfterParam'
        - $ref: '#/components/parameters/ownerIdParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    service:
                      $ref: '#/components/schemas/service'
                    cursor:
                      $ref: '#/components/schemas/cursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Create service
      description: |
        Create a service.
      operationId: create-service
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servicePOST'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAndDeploy'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: Retrieve service
      description: |
        Retrieve the service with the provided ID.
      operationId: retrieve-service
      tags:
        - Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update service
      description: |
        Update the service with the provided ID.
      operationId: update-service
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servicePATCH'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete service
      description: |
        Delete the service with the provided ID.
      operationId: delete-service
      tags:
        - Services
      responses:
        '204':
          description: Service deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/deploys':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: List deploys
      description: >
        List deploys matching the provided filters. If no filters are provided,
        all deploys for the service are returned.
      operationId: list-deploys
      tags:
        - Deploys
      parameters:
        - name: createdBefore
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for deploys created before a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-06-17T08:15:30Z'
        - name: createdAfter
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for deploys created after a certain time (specified as an ISO
            8601 timestamp)
          example: '2021-02-17T08:15:30Z'
        - name: updatedBefore
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for deploys updated before a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-06-17T08:15:30Z'
        - name: updatedAfter
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for deploys updated after a certain time (specified as an ISO
            8601 timestamp)
          example: '2021-02-17T08:15:30Z'
        - name: finishedBefore
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for deploys finished before a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-06-17T08:15:30Z'
        - name: finishedAfter
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for deploys finished after a certain time (specified as an
            ISO 8601 timestamp)
          example: '2021-02-17T08:15:30Z'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    deploy:
                      $ref: '#/components/schemas/deploy'
                    cursor:
                      $ref: '#/components/schemas/cursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Trigger deploy
      description: |
        Trigger a deploy for the service with the provided ID.
      operationId: create-deploy
      tags:
        - Deploys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clearCache:
                  type: string
                  enum:
                    - clear
                    - do_not_clear
                  default: do_not_clear
                  description: >-
                    If `clear`, Render clears the service's build cache before
                    deploying. This can be useful if you're experiencing issues
                    with your build.
                commitId:
                  type: string
                  description: >
                    The SHA of a specific Git commit to deploy for a service.
                    Defaults to the latest commit on the service's connected
                    branch.


                    Note that deploying a specific commit with this endpoint
                    does not disable autodeploys for the service.


                    You can toggle autodeploys for your service with the [Update
                    service](https://api-docs.render.com/reference/update-service)
                    endpoint or in the Render Dashboard.


                    Not supported for cron jobs.
                imageUrl:
                  type: string
                  description: >
                    The URL of the image to deploy for an image-backed service.


                    The host, repository, and image name all must match the
                    currently configured image for the service.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/deploys/{deployId}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - $ref: '#/components/parameters/deployIdParam'
    get:
      summary: Retrieve deploy
      description: |
        Retrieve the details of a particular deploy for a particular service.
      operationId: retrieve-deploy
      tags:
        - Deploys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/deploys/{deployId}/cancel':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - $ref: '#/components/parameters/deployIdParam'
    post:
      summary: Cancel deploy
      description: |
        Cancel an in-progress deploy for a service.

        Not supported for cron jobs.
      operationId: cancel-deploy
      tags:
        - Deploys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/rollback':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    post:
      summary: Roll back deploy
      description: >
        Trigger a rollback to a previous deploy of the specified service.


        Triggering a rollback with this endpoint does not disable autodeploys
        for the service. This means an autodeploy might restore changes you had
        intentionally rolled back.


        You can toggle autodeploys for your service with the [Update
        service](https://api-docs.render.com/reference/update-service) endpoint
        or in the Render Dashboard.
      operationId: rollback-deploy
      tags:
        - Deploys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deployId
              properties:
                deployId:
                  type: string
                  description: The ID of the deploy to roll back to
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/env-vars':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: List environment variables
      description: |
        List all environment variables for the service with the provided ID.
      operationId: get-env-vars-for-service
      tags:
        - Services
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/envVarWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Update environment variables
      description: >-
        Replace all environment variables for a service with the provided list
        of environment variables.
      operationId: update-env-vars-for-service
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/envVarInputArray'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/envVarWithCursor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/env-vars/{envVarKey}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - $ref: '#/components/parameters/envVarKeyParam'
    get:
      summary: Retrieve environment variable
      description: >
        Retrieve a particular environment variable for a particular service.


        This only applies to environment variables set directly on the service,
        not to environment variables in a linked environment group.
      operationId: retrieve-env-var
      tags:
        - Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/envVar'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Add or update environment variable
      description: >
        Add or update a particular environment variable for a particular
        service.


        This only applies to environment variables set directly on the service,
        not to environment variables in a linked environment group.
      operationId: update-env-var
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addUpdateEnvVarInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/envVar'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete environment variable
      description: >
        Delete a particular environment variable from a particular service.


        This only applies to environment variables set directly on the service,
        not to environment variables in a linked environment group.
      operationId: delete-env-var
      tags:
        - Services
      responses:
        '204':
          description: Environment variable deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/secret-files':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: List secret files
      description: |
        List all secret files for the service with the provided ID.
      operationId: list-secret-files-for-service
      tags:
        - Services
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/secretFileWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Update secret files
      description: >
        Replace all secret files for a service with the provided list of secret
        files.


        **Any of the service's existing secret files not included in this
        request will be deleted.**


        This only applies to secret files set directly on the service, not to
        secret files in a linked environment group.
      operationId: update-secret-files-for-service
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/secretFileInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/secretFileWithCursor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/secret-files/{secretFileName}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - name: secretFileName
        in: path
        required: true
        description: The file name of the secret file
        schema:
          type: string
    get:
      summary: Retrieve secret file
      description: >
        Retrieve a particular secret file for a particular service.


        This only applies to secret files set directly on the service, not to
        secret files in a linked environment group.
      operationId: retrieve-secret-file
      tags:
        - Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/secretFile'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Add or update secret file
      description: >
        Add or update a particular secret file for a particular service.


        This only applies to secret files set directly on the service, not to
        secret files in a linked environment group.
      operationId: add-or-update-secret-file
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                content:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/secretFile'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete secret file
      description: >
        Delete a particular secret file from a particular service.


        This only applies to secret files set directly on the service, not to
        secret files in a linked environment group.
      operationId: delete-secret-file
      tags:
        - Services
      responses:
        '204':
          description: Secret file deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/events':
    get:
      tags:
        - Services
      summary: List events
      description: List recent events that occurred for the service with the provided ID.
      operationId: list-events
      parameters:
        - $ref: '#/components/parameters/serviceIdParam'
        - $ref: '#/components/parameters/eventTypeParam'
        - $ref: '#/components/parameters/startTimeParam'
        - $ref: '#/components/parameters/endTimeParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/serviceEventWithCursor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/headers':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: List header rules
      description: >
        List a particular service's response header rules that match the
        provided filters. If no filters are provided, all rules for the service
        are returned.
      operationId: list-headers
      tags:
        - Services - Headers
      parameters:
        - name: path
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for specific paths that headers apply to
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for header names
        - name: value
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for header values
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/headerWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Add header rule
      description: |
        Add a response header rule to the service with the provided ID.
      operationId: add-headers
      tags:
        - Services - Headers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/headerInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    $ref: '#/components/schemas/header'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Replace header rules
      description: >
        Replace all header rules for a particular service with the provided
        list.


        **This deletes all existing header rules for the service that aren't
        included in the request.**
      operationId: update-headers
      tags:
        - Services - Headers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/headerInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/header'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/headers/{headerId}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - name: headerId
        in: path
        required: true
        description: The id of the header
        schema:
          type: string
    delete:
      summary: Delete header rule
      description: |
        Delete a particular response header rule for a particular service.
      operationId: delete-header
      tags:
        - Services - Headers
      responses:
        '204':
          description: Header deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/routes':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: List redirect/rewrite rules
      description: >
        List a particular service's redirect/rewrite rules that match the
        provided filters. If no filters are provided, all rules for the service
        are returned.
      operationId: list-routes
      tags:
        - Services - Routes
      parameters:
        - name: type
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - redirect
                - rewrite
          style: form
          explode: false
          required: false
          description: Filter for the type of route rule
        - name: source
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for the source path of the route
        - name: destination
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for the destination path of the route
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/routeWithCursor'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Add redirect/rewrite rules
      description: |
        Add redirect/rewrite rules to the service with the provided ID.
      operationId: add-route
      tags:
        - Services - Routes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/routePost'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/route'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update redirect/rewrite rule priority
      description: >
        Update the priority for a particular redirect/rewrite rule.


        To apply redirect/rewrite rules to an incoming request, Render starts
        from the rule with priority `0` and applies the first encountered rule
        that matches the request's path (if any).


        Render increments the priority of other rules by `1` as necessary to
        make space for the updated rule.
      operationId: patch-route
      tags:
        - Services - Routes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/routePatch'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    $ref: '#/components/schemas/route'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Update redirect/rewrite rules
      description: >
        Replace all redirect/rewrite rules for a particular service with the
        provided list.


        **This deletes all existing redirect/rewrite rules for the service that
        aren't included in the request.**


        Rule priority is assigned according to list order (the first rule in the
        list has the highest priority).
      operationId: put-routes
      tags:
        - Services - Routes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/routePut'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/route'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/routes/{routeId}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - name: routeId
        in: path
        required: true
        description: The id of the route
        schema:
          type: string
    delete:
      summary: Delete redirect/rewrite rule
      description: |
        Delete a particular redirect/rewrite rule for a particular service.
      operationId: delete-route
      tags:
        - Services - Routes
      responses:
        '204':
          description: Route deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/custom-domains':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    get:
      summary: List custom domains
      description: >
        List a particular service's custom domains that match the provided
        filters. If no filters are provided, all custom domains for the service
        are returned.
      operationId: list-custom-domains
      tags:
        - Custom Domains
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - name: name
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          required: false
          description: Filter for the names of custom domain
        - name: domainType
          in: query
          schema:
            type: string
            enum:
              - apex
              - subdomain
          required: false
          description: Filter for domain type
        - name: verificationStatus
          in: query
          schema:
            type: string
            enum:
              - verified
              - unverified
          required: false
          description: Filter for domain verification status (`verified` or `unverified`)
        - name: createdBefore
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for custom domains created before a certain time (specified
            as an ISO 8601 timestamp)
          example: '2021-06-17T08:15:30Z'
        - name: createdAfter
          in: query
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Filter for custom domains created after a certain time (specified as
            an ISO 8601 timestamp)
          example: '2021-02-17T08:15:30Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/customDomainWithCursor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Add custom domain
      description: |
        Add a custom domain to the service with the provided ID.
      operationId: create-custom-domain
      tags:
        - Custom Domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/customDomain'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/custom-domains/{customDomainIdOrName}':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - $ref: '#/components/parameters/customDomainIdOrNameParam'
    get:
      summary: Retrieve custom domain
      description: |
        Retrieve a particular custom domain for a particular service.
      operationId: retrieve-custom-domain
      tags:
        - Custom Domains
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customDomain'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete custom domain
      description: >
        Delete a custom domain for a service given the service id and custom
        domain id or name.
      operationId: delete-custom-domain
      tags:
        - Custom Domains
      responses:
        '204':
          description: Custom domain deleted
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/custom-domains/{customDomainIdOrName}/verify':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
      - $ref: '#/components/parameters/customDomainIdOrNameParam'
    post:
      summary: Verify DNS configuration
      description: |
        Verify the DNS configuration for a custom domain.
      operationId: refresh-custom-domain
      tags:
        - Custom Domains
      responses:
        '202':
          description: Custom domain verification triggered
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/suspend':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    post:
      summary: Suspend service
      description: |
        Suspend the service with the provided ID.
      operationId: suspend-service
      tags:
        - Services
      responses:
        '202':
          description: Service suspended successfully
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/resume':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    post:
      summary: Resume service
      description: |
        Resume the service with the provided ID (if it's currently suspended).
      operationId: resume-service
      tags:
        - Services
      responses:
        '202':
          description: Service resumed successfully
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/restart':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    post:
      summary: Restart service
      description: |
        Restart the service with the provided ID.

        Not supported for cron jobs.
      operationId: restart-service
      tags:
        - Services
      responses:
        '200':
          description: Service restarted
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/scale':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    post:
      summary: Scale instance count
      description: >
        [Scale](https://docs.render.com/scaling#manual-scaling) the service with
        the provided ID to a fixed number of instances.


        Render ignores this value as long as autoscaling is enabled for the
        service.
      operationId: scale-service
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - numInstances
              properties:
                numInstances:
                  type: integer
                  example: 3
      responses:
        '202':
          description: Service scaled successfully
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  '/services/{serviceId}/autoscaling':
    parameters:
      - $ref: '#/components/parameters/serviceIdParam'
    put:
      summary: Update autoscaling config
      description: >
        Update the [autoscaling](https://docs.render.com/scaling#autoscaling)
        config for the service with the provided ID.
      operationId: autoscale-service
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webServiceDetails/properties/autoscaling'
      responses:
        '200':
          description: Autoscaling configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webServiceDetails/properties/autoscaling'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete autoscaling config
      description: |
        Delete the autoscaling config for a service given the service id.
      operationId: delete-autoscaling-config
      tags:
        - Services
      responses:
        '204':
          description: Autoscaling config deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
[...]
