on:
  workflow_dispatch:

env:
  PROVIDER: "render"

jobs:
  publish-binary:
    name: Publish binary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags

      - run: source ./.github/scripts/lang-runtime-versions.sh

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: pulumi/pulumictl
          tag: "latest"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: -p 1 release --rm-dist --timeout 90m0s
          version: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist/**/*
